<% provide(:title, "Help")%>
<h1>Help Page</h1>
<p>Built following Michael Hartl's Rails tutorial, online <a href="https://www.railstutorial.org/book" target="_blank" rel="noopener noreferrer">here.</a></p>
