<footer class="footer">
  <small>Built by <%= link_to 'Derrick Suarez', 'http://derricksuarez.com', target: '_blank', rel: 'noopener noreferrer'  %>
    using Michael Hartl's <%= link_to 'Roby on Rails Tutorial', 'http://railstutorial.org', target: '_blank', rel: 'noopener noreferrer'  %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>